* {
	font-family: "Lato", monospace;

	/* CSS Reset - removes spaces in elements */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 18px;
	margin-bottom: 20px;
	background-color: lightblue;
	text-align: center;
}

.nav-link {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
}

a {
	text-decoration: none;
}

body {
	background-color: aliceblue;
}

h2 {
	font-family: Verdana;
	font-size: 35px;
	padding-bottom: 10px;
}

#landing {
	text-align: center;
}

#profile {
	height: 500px;
	width: 350px;
	margin-bottom: 10px;
	margin-top: 50px;
	border-radius: 50px;
}

#name {
	margin-bottom: 10px;
	margin-top: 0;
}

#title {
	margin-bottom: 30px;
	margin-top: 0;
}

#intro{
	width: 250px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#tools {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 200px;
}

h2 {
	font-family: "Verdana";
}

#tools-title {
	margin-top: 100px;
	margin-bottom: 30px;
	font-family: "Verdana";
}

.tools-img {
	height: 150px;
	width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 30px;
}

#projects {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 150px;
}

.card {
	background-color: lightblue;
	height: 600px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	margin-bottom: 20px;
}

.card-img {
	height: 500px;
	width: 450px;
	padding-top: 50px;
	padding-bottom: 30px;
}

#p-name {
	padding-top: 30px;
	font-size: 20px;
}

.footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px;
	background-color: lightblue;
}






























